body{
    /*Find a different shade of the backrgound, because this one is puttiing strain on the eyes*/
    font-family: "Poppins", sans-serif;
    background-color:aliceblue;
    
   

}


.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:cadetblue;
    height:4em;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    opacity:initial;
}

.header:window-inactive{
    position:relative;
    top:-5;
}
ul{
    margin-right:4rem;
    display:flex;
    list-style: none;
    justify-content:space-between;
    color:white;
}

li{
    padding:0.4em;
    font:4px, bold;
    font-weight: 700;
}

.home{
    height:585px;
    width:70%;
    display:flex;
    flex-direction:column;
    position:relative;
    align-items:center;
    left:13.8em;
    top:10em;
}
#intro{
    font-size: 3em;
    margin:0;
    
}

.occupation{
    font-size: 18px;
    font-weight:bold;
    position:relative;
    left:18px;
}

.city{
    font-size:18px;
    position:relative;
    left:12px;
    
}
/*
#img-shrink{
    height:35px;
    width:35px;
    padding-bottom:2px;
}*/
h3{
    font-size:1.6em;
    margin:1rem 0 1rem 2.2rem;
}
h2{
    position:relative;
    left:75px;
}
.social{
    height:8em;
    width:20em;
    border-radius:10px;
    position:relative;
    left:0.8em;
    top:2.5em;

}
/*
.social:hover{
    border:5px solid cadetblue;
   
}*/
#img{
    height:40px;
    width:40px;
    position:relative;
    left:0.1em;
    margin-left: 1em;
}

img{
    width:20rem ;
    height: 20rem; 
    border-radius: 50%;
    position:relative;
    left:12em;
    overflow:hidden;
}

.about{
    display:flex;
}
.bio{
    display:inline;
    position:absolute;
    left:35em;
    right:2em;
    top:45em;
}
#puck{
    display:inline;
    position:relative;
    left:10rem;
}

.light{
    position:absolute;
    top:51.5em;
}

